// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// *{
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// .home {
//   margin: 30px;
// }

p {
  margin: 33px;
  font-size: 13px;
}

a {
  margin: 33px;
}